/* .card{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    background-color: #d36f6f;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  
}
.card li{
   list-style: none;
}
h3{
   background-color: #d36f6f;
   padding: 5px;

}
#omg{
   background:white;
   padding: 1px;
}
.nice{
   font-size: 50px;
}
.white{
   color:white;
} */